/* Стили для таблицы */
.table {
    width: 70%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Стили для элемента <a> в строке таблицы */
.table tr a {
    color: blue;
    text-decoration: underline;
}
/* Стили для кнопки добавления */
.btn-add {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стили для кнопки удаления */
.btn-delete {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стили для полей ввода */
.input-field {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Стиль для Combobox */
.select-box {
    position: relative;
    display: inline-block;
    width: 200px; /* Ширина Combobox */
}

    .select-box select {
        width: 100%;
        padding: 8px 16px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        appearance: none;
        -webkit-appearance: none;
    }

    .select-box::after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        font-size: 12px;
    }

    /* Стиль для опций Combobox */
.select-box select option {
    padding: 8px 16px;
}
.link-back {
    color: #000000;
    text-decoration: none;
    
    margin-right:30px;
    font-size:20px;
}

/*    .link-back:hover {
        color: #ffffff;
        background-color: #000000;
    }*/