@using PharmacyWebApp.Models.Tables;
@model IEnumerable<Pharmacy>
<head>
    <link href="/css/site.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="div-pharmacies">
        <form onsubmit="return false;" v-on:submit="addPharmacy">
            <input class="input-field" type="text" v-model="newpharmacy.Name" placeholder="Название" required />
            <input class="input-field" type="text" v-model="newpharmacy.City" placeholder="Город" pattern="[A-Za-zА-Яа-яЁё]+"
                   title="Город может содержать только буквы" required />
            <input class="input-field" type="text" v-model="newpharmacy.Street" placeholder="Улица" required />
            <input class="input-field" type="text" v-model="newpharmacy.Phone" pattern="[0-9]{1,3} [0-9]{3}[0-9]{3}[0-9]{4}" title="Формат ввода X XXXXXXXXXX" placeholder="Телефон" required />
            <input type="submit" value="Добавить" class="btn-add" />
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Склады</th>
                    <th>Товары</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pharmacy in pharmacies">
                    <td>{{pharmacy.id}}</td>
                    <td>{{pharmacy.name}}</td>
                    <td>{{pharmacy.city }} {{pharmacy.street}}</td>
                    <td>+{{pharmacy.phone}}</td>
                    <td>
                        <a :href="'/Warehouse/WarehousePage/?id='+pharmacy.id">Склады</a>
                    </td>
                    <td>
                        <a :href="'/Pharmacy/ProductsForPharmacyPage/?id='+pharmacy.id">Товары</a>
                    </td>
                    <td>
                        <a v-on:click="removePharmacy(pharmacy.id)" href="#">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        var pharmacyVue = new Vue({
            el: '#div-pharmacies',
            data: {
                newpharmacy: {
                    Name: '',
                    City: '',
                    Street: '',
                    Phone: ''
                },
                pharmacies: @Html.Raw(Json.Serialize(Model))
                        },
            methods:
            {
                addPharmacy: function () {
                    axios.post('/Pharmacy/AddPharmacy', this.newpharmacy).
                        then((response) => {
                            this.pharmacies.push(response.data);
                        });
                },
                removePharmacy: function (id) {
                    axios.post('/Pharmacy/RemovePharmacy', id).
                        then((response) => {
                            this.pharmacies = this.pharmacies.filter(pharmacy => pharmacy.id != id);
                        });

                }
            }
        });
    </script>
</body>